include *.md
recursive-include netbox_data_flows/templates *.html
recursive-include docs *.md *.png *.drawio

exclude .editorconfig .pre-commit-config.yaml
exclude mkdocs.yml
exclude requirements_dev.txt requirements_docs.txt
