{% extends 'generic/object.html' %}
{% load buttons %}
{% load helpers %}
{% load perms %}
{% load plugins %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_data_flows:application_list' %}?role_id={{ object.role.pk }}">{{ object.role }}</a></li>
{% endblock %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Application</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <th scope="row">Role</th>
              <td>{{ object.role|placeholder|linkify }}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ object.description|placeholder }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/comments.html' %}
      {% include 'inc/panels/custom_fields.html' %}
      {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% plugin_right_page object %}
    </div>
  </div>

  <div class="row mb-3">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">Data Flow Groups</h5>
        <div class="card-body table-responsive">
          {% render_table dataflowgroups_table %}
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">Data Flows</h5>
        <div class="card-body table-responsive">
          {% render_table dataflows_table %}
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col col-md-12">
        {% plugin_full_width_page object %}
    </div>
  </div>
{% endblock content %}