{% extends 'generic/object.html' %}
{% load buttons %}
{% load helpers %}
{% load i18n %}
{% load perms %}
{% load plugins %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
  {{ block.super }}
  {% if object.application %}
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_data_flows:dataflow_list' %}?application_id={{ object.application.pk }}">{{ object.application }}</a></li>
  {% endif %}
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_data_flows:dataflow' object.pk %}">{{ object }}</a></li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">{% trans "Specifications" %}</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Protocol" %}</th>
            <td>{{ object.get_protocol_display|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Source ports" %}</th>
            <td>{{ object.source_port_list|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Destination ports" %}</th>
            <td>{{ object.destination_port_list|placeholder }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div>
    <h4>Sources</h4>
    <div class="row">
      <div class="col col-md-12">
        <div class="card">
          <h5 class="card-header">{% trans "Source prefixes" %}</h5>
          {% render_table sources_prefixes_table %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-12">
        <div class="card">
          <h5 class="card-header">{% trans "Source IP Ranges" %}</h5>
          {% render_table sources_ip_ranges_table %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-12">
        <div class="card">
          <h5 class="card-header">{% trans "Source IP Addresses" %}</h5>
          {% render_table sources_ip_addresses_table %}
        </div>
      </div>
    </div>
  </div>

  <div>
    <h4>Destinations</h4>
    <div class="row">
      <div class="col col-md-12">
        <div class="card">
          <h5 class="card-header">{% trans "Destination prefixes" %}</h5>
          {% render_table destinations_prefixes_table %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-12">
        <div class="card">
          <h5 class="card-header">{% trans "Destination IP Ranges" %}</h5>
          {% render_table destinations_ip_ranges_table %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-12">
        <div class="card">
          <h5 class="card-header">{% trans "Destination IP Addresses" %}</h5>
          {% render_table destinations_ip_addresses_table %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
