{% extends 'generic/object_edit.html' %}
{% load form_helpers %}

{% block form %}
  {# Render hidden fields #}
  {% for field in form.hidden_fields %}
    {{ field }}
  {% endfor %}

  {# Application, name and parent #}
  {% with fieldset=form.fieldsets.0 %}
    {% with group=fieldset.0 fields=fieldset.1 %}
      <div class="field-group mb-5">
        <div class="row mb-2">
          <h5 class="offset-sm-3">{{ group }}</h5>
        </div>

        {% for name in fields %}
          {% with field=form|getfield:name %}
            {% if not field.field.widget.is_hidden %}
              {% render_field field %}
            {% endif %}
          {% endwith %}
        {% endfor %}
      </div>
    {% endwith %}
  {% endwith %}

  {# Specifications #}
  {% with fieldset=form.fieldsets.1 %}
    {% with group=fieldset.0 fields=fieldset.1 %}
      <div class="field-group mb-5">
        <div class="row mb-2">
          <h5 class="offset-sm-3">{{ group }}</h5>
        </div>

        {# Template or custom #}
        <div class="row mb-2">
          <div class="offset-sm-3">
            <ul class="nav nav-pills" role="tablist">
              <li role="presentation" class="nav-item">
                <button role="tab" type="button" id="custom_tab" data-bs-toggle="tab" data-bs-target="#custom" class="nav-link active">
                  New specifications
                </button>
              </li>
              <li role="presentation" class="nav-item">
                <button role="tab" type="button" id="template_tab" data-bs-toggle="tab" data-bs-target="#template" class="nav-link">
                  From Template
                </button>
              </li>
            </ul>
          </div>
        </div>

        <div class="tab-content p-0 border-0">
          <div class="tab-pane active" id="custom" role="tabpanel" aria-labeled-by="custom_tab">
            {% include "netbox_data_flows/inc/dataflow_specifications.html" %}
          </div>
          <div class="tab-pane" id="template" role="tabpanel" aria-labeled-by="template_tab">
            {% render_field form.dataflow_template %}
          </div>
        </div>
      </div>
    {% endwith %}
  {% endwith %}

  {% if form.custom_fields %}
    <div class="row mb-2">
      <h5 class="offset-sm-3">Custom Fields</h5>
    </div>
    {% render_custom_fields form %}
  {% endif %}

  {% if form.comments %}
    <div class="field-group mb-5">
      <h5 class="text-center">Comments</h5>
      {% render_field form.comments %}
    </div>
  {% endif %}
{% endblock %}
