{% extends 'generic/object.html' %}
{% load buttons %}
{% load helpers %}
{% load i18n %}
{% load perms %}
{% load plugins %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
  {{ block.super }}
  {% if object.application %}
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_data_flows:dataflow_list' %}?application_id={{ object.application.pk }}">{{ object.application }}</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">{% trans "Data Flow" %}</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Application" %}</th>
            <td>{{ object.application|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Group" %}</th>
            <td>
              {{ object.group|linkify|placeholder }}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Tenant" %}</th>
            <td>
                {% if object.tenant.group %}
                    {{ object.tenant.group|linkify }} /
                {% endif %}
                {{ object.tenant|linkify|placeholder }}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Description" %}</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Status" %}</th>
            <td>{% badge object.inherited_status_display bg_color=object.get_status_color %}</td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
      {% include 'inc/panels/custom_fields.html' %}
      {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">{% trans "Specifications" %}</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Protocol" %}</th>
            <td>{{ object.get_protocol_display|placeholder }}</td>
          </tr>
          {% if object.is_icmp %}
          <tr>
            <th scope="row">{% trans "ICMP types" %}</th>
            <td>{{ object.destination_port_list|placeholder }}</td>
          </tr>
          {% else %}
          <tr>
            <th scope="row">{% trans "Source ports" %}</th>
            <td>{{ object.source_port_list|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Destination ports" %}</th>
            <td>{{ object.destination_port_list|placeholder }}</td>
          </tr>
          {% endif %}
          {% for o in sources %}
            <tr>
              {% if forloop.first %}
                <th scope="row" rowspan="{{ sources|length }}">{% trans "Sources" %}</th>
              {% endif %}
              <td>{{ o|linkify }}</td>
            </tr>
          {% empty %}
            <tr>
              <th scope="row">{% trans "Sources" %}</th>
              <td>{{ ""|placeholder }}</td>
            </tr>
          {% endfor %}
          {% for o in destinations %}
            <tr>
              {% if forloop.first %}
                <th scope="row" rowspan="{{ destinations|length }}">{% trans "Destinations" %}</th>
              {% endif %}
              <td>{{ o|linkify }}</td>
            </tr>
          {% empty %}
            <tr>
              <th scope="row">{% trans "Destinations" %}</th>
              <td>{{ ""|placeholder }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
      {% plugin_right_page object %}
    </div>
  </div>

  {% if children_table %}
  <div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">{% trans "Children Data Flows" %}</h5>
        {% render_table children_table %}
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col col-md-12">
      {% plugin_full_width_page object %}
    </div>
  </div>
{% endblock content %}
