{% extends 'generic/object_list.html' %}

{% block title %}
  {{ model|meta:"verbose_name_plural"|bettertitle }}{% if as_rules %} as Rules{% endif %}
{% endblock %}

{% block extra_controls %}
  {% if as_rules %}
    <a href="{% url 'plugins:netbox_data_flows:dataflow_list' %}" type="button" class="btn btn-sm btn-outline-secondary">
      <i class="mdi mdi-file-tree-outline"></i> As Data Flows
    </a>
  {% else %}
    <a href="{% url 'plugins:netbox_data_flows:dataflow_rules' %}" type="button" class="btn btn-sm btn-outline-secondary">
      <i class="mdi mdi-playlist-check"></i> As rules
    </a>
  {% endif %}
{% endblock extra_controls %}
