{% extends 'generic/object.html' %}
{% load buttons %}
{% load helpers %}
{% load i18n %}
{% load perms %}
{% load plugins %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">{% trans "Object Alias" %}</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Name" %}</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Description" %}</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/tags.html' %}
      {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
      {% if related_models %}
        {% include 'inc/panels/related_objects.html' %}
      {% endif %}
      {% include 'inc/panels/comments.html' %}
      {% include 'inc/panels/custom_fields.html' %}
      {% plugin_right_page object %}
    </div>
  </div>

  <div class="row">
    <div class="col col-md-12">
      {% with count=object.prefixes.count %}
        {% if count %}
          <div class="card">
            <h5 class="card-header">
              {% trans "Prefixes" %}
              &nbsp;<span class="badge text-bg-primary rounded-pill">{{ count }}</span>
            </h5>
            {% render_table prefix_table %}
          </div>
        {% endif %}
      {% endwith %}
      {% with count=object.ip_ranges.count %}
        {% if count %}
          <div class="card">
            <h5 class="card-header">
              {% trans "IP Ranges" %}
              &nbsp;<span class="badge text-bg-primary rounded-pill">{{ count }}</span>
            </h5>
            {% render_table ip_range_table %}
          </div>
        {% endif %}
      {% endwith %}
      {% with count=object.ip_addresses.count %}
        {% if count %}
          <div class="card">
            <h5 class="card-header">
              {% trans "IP Addresses" %}
              &nbsp;<span class="badge text-bg-primary rounded-pill">{{ count }}</span>
            </h5>
            {% render_table ip_address_table %}
          </div>
        {% endif %}
      {% endwith %}
    </div>
  </div>

  <div class="row">
    <div class="col col-md-12">
      {% plugin_full_width_page object %}
    </div>
  </div>
{% endblock content %}
