{% extends 'generic/object.html' %}
{% load buttons %}
{% load helpers %}
{% load perms %}
{% load plugins %}
{% load render_table from django_tables2 %}

{% block extra_controls %}
  {% if perms.netbox_data_flows.change_objectalias %}
    <a href="{% url 'plugins:netbox_data_flows:objectalias_addtarget' object.pk %}" type="button" class="btn btn-sm btn-primary">
      <i class="mdi mdi-plus-thick"></i> Add aliased objects
    </a>
  {% endif %}
{% endblock extra_controls %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Object Alias</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ object.description|placeholder }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
      {% include 'inc/panels/custom_fields.html' %}
      {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Member objects</h5>
        <div class="card-body table-responsive">
          {% render_table targets_table %}
        </div>
          {% if perms.netbox_data_flows.change_objectalias %}
            <div class="card-footer text-end noprint">
              <a href="{% url 'plugins:netbox_data_flows:objectalias_addtarget' object.pk %}" class="btn btn-sm btn-primary">
                <i class="mdi mdi-plus-thick"></i> Add aliased objects
              </a>
            </div>
          {% endif %}
      </div>
      {% plugin_right_page object %}
    </div>
  </div>

  <div class="row mb-3">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">Source in Data Flows</h5>
        <div class="card-body table-responsive">
          {% render_table dataflow_sources_table %}
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">Destination in Data Flows</h5>
        <div class="card-body table-responsive">
          {% render_table dataflow_destinations_table %}
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col col-md-12">
        {% plugin_full_width_page object %}
    </div>
  </div>
{% endblock content %}