name: Get supported NetBox versions

on:
  workflow_call:
    outputs:
      latest_version:
        description: "The most recent NetBox tag within the supported version range of the plugin."
        value: ${{ jobs.get-netbox-versions.outputs.latest_version }}
      supported_versions:
        description: "All the patch versions of the highest supported minor version, and the latest patch of all subsequently supported minors."
        value: ${{ jobs.get-netbox-versions.outputs.supported_versions }}
  workflow_dispatch:

permissions:
  contents: read

jobs:
  get-netbox-versions:
    name: Get the NetBox versions supported by the plugin
    runs-on: "ubuntu-latest"

    outputs:
      latest_version: ${{ steps.netbox-versions.outputs.latest_version }}
      supported_versions: ${{ steps.netbox-versions.outputs.supported_versions }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: netbox-data-flows

      - name: Checkout latest NetBox release
        uses: actions/checkout@v4
        with:
          repository: "netbox-community/netbox"
          path: netbox
          ref: main
          fetch-depth: 0

      - id: netbox-versions
        name: Extract supported NetBox versions
        shell: bash
        run: ./netbox-data-flows/.github/scripts/get-netbox-versions.sh
