name: Create documentation and publish it to GitHub pages

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  publish-documentation:
    name: Publish documentation
    runs-on: "ubuntu-latest"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements_docs.txt

      - name: Check documentation build
        run: |
          mkdocs build --strict

      - name: Publish documentation
        run: |
          mkdocs gh-deploy --force
